.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 1rem;
  border: 1px solid white;
}

.todo-item:nth-child(odd){
  background-color: #28AFB0;
}
.todo-item:nth-child(even){
  background-color: #BBDEF0;
}

.delete-icon{
  width: 2rem;
  font-size: 1.7rem;
  cursor: pointer;
}
